[Unit]
Description=Mount Varese Studio share

[Mount]
What=//varese.ak.tu-berlin.de/Studio
Where=/mnt/varese/Studio
Options=_netdev,credentials=/etc/samba/credentials/varese.ak.tu-berlin.de,iocharset=utf8,rw,uid=faressc,gid=faressc,vers=3.0,mfsymlinks
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
