[Unit]
Description=Mount varese VD-Humboldt-Forum share

[Mount]
What=//varese.ak.tu-berlin.de/VD-Humboldt-Forum
Where=/mnt/varese/VD-Humboldt-Forum
Options=_netdev,credentials=/etc/samba/credentials/varese.ak.tu-berlin.de,iocharset=utf8,rw
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
