[Unit]
Description=Mount varese Users share

[Mount]
What=//varese.ak.tu-berlin.de/Users
Where=/mnt/varese/Users
Options=_netdev,credentials=/etc/samba/credentials/varese.ak.tu-berlin.de,iocharset=utf8,rw
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
